@model List<nosted_dotnet.MVC.Entities.Sjekkliste>

<h1>Sjekkliste Oversikt:</h1>

<table class="table">
    <thead>
    <tr>
        <th>Sjekkliste ID</th>
        <!-- Add more columns as needed -->
    </tr>
    </thead>
    <tbody>
    @foreach (var checklist in Model)
    {
        <tr>
            <td>@checklist.Id</td>
            <!-- Add more columns as needed -->
            <td>
                <a href="@Url.Action("GeneratePdf", "PdfGeneration", new { orderType = "Sjekkliste", orderId = checklist.Id })">Opprett PDF</a>
            </td>
        </tr>
    }
    </tbody>
</table>