@model nosted_dotnet.MVC.Entities.Ordre

<h1>Delete Ordre</h1>

<!-- Include your custom JavaScript file -->
<script src="js/site.js" defer></script>

@using (Html.BeginForm("DeleteConfirmed", "Ordre", new { id = Model.Id }, FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <p>Are you sure you want to delete this ordre?</p>
    <input type="submit" value="Slette" class="btn btn-danger" />
    <button type="button" class="btn btn-primary" id="DeleteButton">Avbryt</button>
}
