@model List<nosted_dotnet.MVC.Entities.ServiceSkjema>

<h1>Serviceskjemaoversikt:</h1>

<table class="table">
    <thead>
    <tr>
        <th>Serviceskjema ID</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var schema in Model)
    {
        <tr>
            <td>@schema.Id</td>
            <td>
                <td>
                <a href="@Url.Action("GeneratePdf", "PdfGeneration", new { orderType = "serviceSkjema", orderId = schema.Id })">Opprett PDF</a>
                </td>
            </td>
        </tr>
    }
    </tbody>
</table>