@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" type="text/css" href="~/css/Home.css">
</head>
<body>
    <div class="box">
        <img src="images/ServiceSkjema.png" alt="ServiceSkjema">
        <span>Serviceskjema</span>
    </div>
    <div class="box">
        <img src="icon2.jpg" alt="Icon 2">
        <span>About</span>
    </div>
    <div class="box">
        <img src="icon3.jpg" alt="Icon 3">
        <span>Settings</span>
    </div>
    <div class="box">
        <img src="icon4.jpg" alt="Icon 4">
        <span>Service</span>
    </div>
    <div class="box">
            <img src="icon6.jpg" alt="Icon 6">
            <span>Utstyr</span>
        </div>

        <div class="box">
            <img src="icon6.jpg" alt="Icon 6">
            <span>Utstyr</span>
        </div>

        <div class="box">
            <img src="icon6.jpg" alt="Icon 6">
            <span>Utstyr</span>
        </div>

        <!-- Add more boxes as needed -->
</body>
</html>
