@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" type="text/css" href="~/css/Home.css">
</head>
<body>

    <a href="/Ordre" style="color: black;">
        <div class="box">
            <img src="images/arbeids (1).png" alt="Arbeidsdokument">
            <span>Ordre</span>
        </div>
    </a>
    
    <a href="../ServiceSkjema" style="color: black;">
    <div class="box">
        <img src="images/ServiceSkjema.png" alt="ServiceSkjema">
        <span>Serviceskjemaoversikt</span>
    </div>
    </a>

    <a href="../Sjekkliste" style="color: black;">
    <div class="box">
        <img src="images/clipboard.png" alt="Sjekkliste">
        <span>Sjekkliste Oversikt</span>
    </div>
    </a>

    <div class="box">
        <img src="images/vinsj.png" alt="Reservedeler">
        <span>Reservedeler</span>
    </div>
    <div class="box">
            <img src="images/utstyr.png" alt="Utstyrbehandling">
            <span>Utstyrbehandling</span>
        </div>

    <a href="/Users" style="color: black;">
        <div class="box">
            <img src="images/bruker.png" alt="Brukeradministrasjon">
            <span>Brukeradministrasjon</span>
        </div>
    </a>

    <a href="/Rapport" style="color: black;">
        <div class="box">
            <img src="images/report.png" alt="Rapport">
            <span>Rapport</span>
        </div>
        </a>
     
</body>
</html>
