@{
    ViewData["Title"] = "Utstyrsbehandling";
}
<!DOCTYPE html>
<html>

<body>
    <div style="width: 100%; height: 100%; overflow: hidden;">
        <img src="~/images/utstyrsbehandling.png" alt="utstyrsbehandling" />
    </div>
</body>
</html>
