.column {
    width: 25%;
    box-sizing: border-box;
    display: inline-table;
}


.label {
    font-weight: bold;
}

.input {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
}

.textarea {
    width: 80%;
    height: 100px;
    padding: 10px;
    margin-bottom: 10px;
}

.lagreButton {
    background-color: darkorange;
    color: #FFF;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.clear {
    clear: both;
}


.tilbakeButton {
    background-color: grey;
    color: #FFF;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}


