.column {
    width: 25%;
    box-sizing: border-box;
    display: inline-table;
}


.label {
    font-weight: bold;
}

.input {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
}

.textarea {
    width: 80%;
    height: 100px;
    padding: 10px;
    margin-bottom: 10px;
}

.clear {
    clear: both;
}


.tilbakeButton {
    background-color: grey;
    color: #FFF;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}





/* Add spacing between form elements and buttons */
.column, .label, .input, .btn {
    margin-right: 10px; /* Adjust the value as needed */
}

.clear {
    clear: both;
}

/* Additional styles for the buttons */
.btn {
    margin-top: 10px; /* Adjust the value as needed */
    margin-bottom: 10px;
}
