.column {
    width: 25%;
    float: left;
    box-sizing: border-box;
}

.label {
    font-weight: bold;
}

.input {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
}

.textarea {
    width: 80%;
    height: 100px;
    padding: 10px;
    margin-bottom: 10px;
}

.button {
    background-color: forestgreen;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.clear {
    clear: both;
}   
