.column {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px; /* Add spacing between columns */
}

.label {
    font-weight: bold;
}

.input,
.textarea {
    width: 100%; /* Full width on smaller screens */
    padding: 10px;
    margin-bottom: 10px;
}

.textarea {
    height: 150px; /* Adjust the height for textarea on smaller screens */
}

.button {
    background-color: forestgreen;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.clear {
    clear: both;
}

/* Responsive Styles */

/* For screens 768px and larger */
@media (min-width: 768px) {
    .column {
        width: 48%; /* 2 columns per row on medium-sized screens */
    }
}

/* For screens 1024px and larger */
@media (min-width: 1024px) {
    .column {
        width: 50%; /* 2 columns per row on large screens */
    }
}
