@using nosted_dotnet.MVC.Models.Users
@model List<nosted_dotnet.MVC.Models.Users.UserViewModel>

@{
    ViewData["Title"] = "Add";
}


<h2>Legg til bruker</h2>

<!-- Skjema som skal lage nye rader (Bruker) -->
<form asp-controller="Users" asp-action="Save" method="post">


    <div class="form-group col-md-6">
        <input type="text" name="Email" class="form-control" placeholder="E-post">
    </div>
    <div class="form-group col-md-6">
        <input type="text" name="Fornavn" class="form-control" placeholder="Fornavn">
    </div>
    <div class="form-group col-md-6">
        <input type="text" name="Etternavn" class="form-control" placeholder="Etternavn">
    </div>
    <div class="form-check">
        <input type="checkbox" name="Admin" class="form-check-input" id="isAdmin">
        <label class="form-check-label" for="isAdmin">Administrator</label>
    </div>



    <button type="submit" class="btn btn-primary">Opprett bruker</button>

</form>

