@using nosted_dotnet.MVC.Models.Users
@model nosted_dotnet.MVC.Entities.UserEntity

<h1>Slett bruker</h1>

<!-- Include your custom JavaScript file -->
<script src="js/site.js" defer></script>

@using (Html.BeginForm("DeleteConfirmed", "Users", new { email = Model.Email }, FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <p>Er du sikker på at du vil slette denne brukeren?</p>
    <input type="submit" value="Slett" class="btn btn-danger" />
    <a href="@Url.Action("Index", "Users")" class="btn btn-secondary">Avbryt</a>
}
